.input
{
    margin:0 auto;
    padding:10px;
    height:200px;
    width: 600px;
    border: dotted gray 2px;
    border-radius: 2px;
    background-color: lightblue;
    outline:none;/*输入框选中时没有蓝色外框 */
    overflow:auto;/*文本输入多了之后自动出现滚动条*/
}

.basic,
.special,
.innovation,
.goal
{
    margin: 20px auto;
}

.buttons
{
    margin: 0 auto;
    width: 60px;
}

#change,
#submit
{
    margin: 10px;
    height:25px;
    width:60px;
    border-radius: 4px;
    outline:none;
}

button
{
    display: inline-block;
}