body{
    font-family: 宋体;
    font-size: 16px;
}

.part1-8-border{
    margin: 0 auto;
    border-radius: 8px;
    background-color: #acd9d5;
    width: 800px;
    padding: 15px;
}

.part1-8-font-1{
    text-align: center;
    font-size: 20px;
}

.part1-8-font-2{
    text-align: right;
}