.title{
    margin: 0 auto;
    padding: 30px;
    width: 90%;
    height: 800px;
    border-radius: 30px;
    background-color: #acb064;
}
.container h2{
    margin: 5px 5px 0;
    padding: 0 0 8px 30px;
}
form span input[type=date]{
    background-color: #acb064;
}
form span input[type=text]{
    background-color: #acb064;
}
.table .table_tab{
    width: 80%;
    border-collapse:collapse;
    margin: 34px auto 0;
    border: 2px solid #000;
    table-layout: fixed;
}
.table_tab td{
    padding: 2px;
    border: 1px solid #000;
}
.title form{
    width: 95%;
    margin: 0 auto;
}