.tab{
    background-color: #b6a59e;
    border-radius: 30px;
    height: 300px;
    width: 880px;
    margin:40px 60px 0 60px;
    padding: 8px;
}
.tab_0 span{
    font-weight: bolder;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.tab .tab_0{
    height: 120px;
    width: 85px;
    margin: 15px 15px 2px;
}
.tab_0 .circle{
    width: 85px;
    height: 85px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
}
.circle img{
    width: 54px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.tab .tab_1{
    border-radius: 10px;
    height: 150px;
    width: 100%;
    color: #fff;
}

.body .right .table{
    text-align: left;
}