form .form_content input[type=text]{
    width: 348px;
}
form .form_content .table{
    margin-top: 60px;
}
form .table .tab_0 span{
    font-size: 20px;
    text-align: left;
    color: #000;
}
form .table .tab_0{
    height: 30px;
    width: 135px;
}
form .table .tab_1{
    height: 240px;
}