#center{
    line-height: 80px;
}
.right .home{
    height: 700px;
    width: 70%;
    margin: 30px auto;
    border: 3px solid #526a3a;
    border-radius: 30px;
    padding: 20px;
}
.home h3{
    font-size: 30px;
    text-align: center;
}
.home p{
    border: none;
    margin-left: 50px;
}