<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">
  <display-name>youth_league</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>part1_1</servlet-name>
  	<servlet-class>mainServlet.part1_1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_1</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_2</servlet-name>
  	<servlet-class>mainServlet.part1_2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_2</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_4</servlet-name>
  	<servlet-class>mainServlet.part1_4</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_4</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_4</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>part1_6</servlet-name>
  	<servlet-class>mainServlet.part1_6</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_6</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_6</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>part1_7</servlet-name>
  	<servlet-class>mainServlet.part1_7</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_7</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_7</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_14</servlet-name>
  	<servlet-class>mainServlet.part1_14</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_14</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_14</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>mainServlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/工作日志/pages/servlet/login</url-pattern>
  </servlet-mapping>
  

 

</web-app>