<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">
  <display-name>youth_league</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>part1_1</servlet-name>
  	<servlet-class>mainServlet.part1_1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_1</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_2</servlet-name>
  	<servlet-class>mainServlet.part1_2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_2</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_4</servlet-name>
  	<servlet-class>mainServlet.part1_4</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_4</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_4</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_6</servlet-name>
  	<servlet-class>mainServlet.part1_6</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_6</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_6</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_7</servlet-name>
  	<servlet-class>mainServlet.part1_7</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_7</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_7</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>part1_14</servlet-name>
  	<servlet-class>mainServlet.part1_14</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_14</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_14</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_19</servlet-name>
  	<servlet-class>mainServlet.part1_19</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_19</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_19</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_20</servlet-name>
  	<servlet-class>mainServlet.part1_20</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_20</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_20</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_21</servlet-name>
  	<servlet-class>mainServlet.part1_21</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_21</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_21</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part1_22</servlet-name>
  	<servlet-class>mainServlet.part1_22</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part1_22</servlet-name>
  	<url-pattern>/工作日志/PART1/servlet/part1_22</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part2_3</servlet-name>
  	<servlet-class>mainServlet.part1_23</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part2_3</servlet-name>
  	<url-pattern>/工作日志/PART2/servlet/part2_3</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part2_6</servlet-name>
  	<servlet-class>mainServlet.part2_6</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part2_6</servlet-name>
  	<url-pattern>/工作日志/PART2/servlet/part2_6</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part2_8</servlet-name>
  	<servlet-class>mainServlet.part2_8</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part2_8</servlet-name>
  	<url-pattern>/工作日志/PART2/servlet/part2_8</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>part2_10</servlet-name>
  	<servlet-class>mainServlet.part2_10</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part2_10</servlet-name>
  	<url-pattern>/工作日志/PART2/servlet/part2_10</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>part2_11</servlet-name>
  	<servlet-class>mainServlet.part2_11</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part2_11</servlet-name>
  	<url-pattern>/工作日志/PART2/servlet/part2_11</url-pattern>
  </servlet-mapping>  

  <servlet>
  	<servlet-name>part2_14</servlet-name>
  	<servlet-class>mainServlet.part2_14</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>part2_14</servlet-name>
  	<url-pattern>/工作日志/PART2/servlet/part2_14</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>mainServlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/工作日志/pages/servlet/login</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>info</servlet-name>
  	<servlet-class>mainServlet.info</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>info</servlet-name>
  	<url-pattern>/工作日志/pages/servlet/info</url-pattern>
  </servlet-mapping>
  
  

  

 

</web-app>